<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="crm:OrgServiceUrl" value="https://ranjant.api.crm8.dynamics.com/"/>
    <add key="crm:OrgServiceEndpoint" value="xrmservices/2011/organization.svc"/>
    <add key="ida:TenantId" value="d2fffb19-a311-407e-bf3f-798e69a8762f"/>
    <add key="ida:ClientId" value="05c063b5-d97e-4363-9085-675478d01277"/>
    <add key="ida:ClientSecret" value="rkR-NrVR/-U@rpriLSACn3hIIIdx4e59"/>
    <add key="ida:RedirectUri" value="https://ranjant.crm8.dynamics.com/auth"/>
    <add key="ida:GraphApiUrl" value="https://graph.microsoft.com" />
    <add key="ida:Authority" value="https://login.microsoftonline.com/" />
  </appSettings>
</configuration>
