<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ServiceBusTopicSubscriptionSenderSharedAccessPolicy" value=""/>
    <add key="ServiceBusTopicName" value="sb-test-rt-console-app-topic"/>
    <add key="ServiceBusTopicSubscriptionName" value="sb-test-rt-console-app-topic-sub"/>
  </appSettings>
</configuration>