<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IProxyService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:57215/ProxyService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IProxyService" contract="ServiceReference1.IProxyService"
        name="BasicHttpBinding_IProxyService" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="CRMServiceURL" value="https://ranjant.api.crm8.dynamics.com/XRMServices/2011/Organization.svc"/>
    <add key="UserName" value=""/>
    <add key="Password" value=""/>
  </appSettings>
</configuration>
