<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IProxyService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:57215/ProxyService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IProxyService" contract="ServiceReference1.IProxyService"
        name="BasicHttpBinding_IProxyService" />
    </client>
  </system.serviceModel>
  <appSettings>
    <!--<add key="CRMServiceURL" value="https://apttusdemo.api.crm.dynamics.com/XRMServices/2011/Organization.svc"/>
    <add key="UserName" value="xa-dynamics-0@apttex.com"/>
    <add key="Password" value="Gama1945"/>-->

    <!--<add key="CRMServiceURL" value="https://apttus-iwa-cpq-integ-dev.api.crm.dynamics.com/XRMServices/2011/Organization.svc"/>
    <add key="UserName" value="xa-dynamics-0@apttex.comm"/>
    <add key="Password" value="Gama1945"/>-->

    <!--<add key="CRMServiceURL" value="https://apttus-cpq-qa1.api.crm.dynamics.com/XRMServices/2011/Organization.svc"/>
    <add key="UserName" value="xa-dynamics-1@apttex.com"/>
    <add key="Password" value="x@uthor1"/>-->

    <!--<add key="CRMServiceURL" value="https://apttex.api.crm.dynamics.com/XRMServices/2011/Organization.svc"/>
    <add key="UserName" value="gramachandran@apttex.onmicrosoft.com"/>
    <add key="Password" value="Ganapath2"/>-->

    <add key="CRMServiceURL" value="https://ranjant.api.crm8.dynamics.com/XRMServices/2011/Organization.svc"/>
    <add key="UserName" value="ranjan@ranjant.onmicrosoft.com"/>
    <add key="Password" value="JayRam@1985"/>
    
    
    <!--<add key="CRMServiceURL" value="https://celaclmapttusdev.api.crm.dynamics.com/XRMServices/2011/Organization.svc"/>
    <add key="UserName" value="clmv2dev@microsoft.com"/>
    <add key="Password" value="((rm#Dmin!!12@6"/>-->
    
    <!--<add key="CRMServiceURL" value="https://apttusqa.api.crm.dynamics.com/XRMServices/2011/Organization.svc"/>
    <add key="UserName" value="xa-dynamics-0@apttex.com"/>
    <add key="Password" value="Gama1945"/>-->

    <!--<add key="CRMServiceURL" value="https://alliedmodular.api.crm.dynamics.com/XRMServices/2011/Organization.svc"/>
    <add key="UserName" value="admin@alliedmodular.com"/>
    <add key="Password" value="q1w2e3r4"/>-->

    <!--<add key="CRMServiceURL" value="https://cooksdirectinc.api.crm.dynamics.com/XRMServices/2011/Organization.svc"/>
    <add key="UserName" value="gordondarling67@cooksdirectinc.onmicrosoft.com"/>
    <add key="Password" value="cd321#@!"/>-->
  </appSettings>
</configuration>
