@using System.Data
@using System.Data.SqlClient
@using System.Collections.Generic
@model Asp.Net.Mvc.Operations.Crud.Ado.Models.Employee
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employee Details</h2>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>
            Age
        </th>
        <td>@Model.Age</td>
    </tr>
    <tr>
        <th>
            Gender
        </th>
        <td>@Model.SelectedGender</td>
    </tr>
</table>
@Html.ActionLink("Back to list","Index","Employee")

